abdc/api/flows_api.json
[{"id":"a9d6a1e5.18f9e","type":"tab","label":"API ","disabled":false,"info":""},{"id":"7dee412e.b50cd","type":"ui_tab","name":"AutoBud","icon":"dashboard","disabled":false,"hidden":false},{"id":"290d0f12.f903d8","type":"ui_tab","name":"Grow Logs","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"97c692d7.0a354","type":"ui_group","name":"AutoBud","tab":"7dee412e.b50cd","order":1,"disp":true,"width":"6","collapse":false},{"id":"c798f46d.40c208","type":"ui_group","name":"Grow Logs","tab":"290d0f12.f903d8","order":1,"disp":true,"width":"12","collapse":false},{"id":"dfb4a60f.d788f8","type":"ui_group","name":"Data Export","tab":"48418b79.0f5834","order":1,"disp":true,"width":"12"},{"id":"48418b79.0f5834","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1},{"id":"605dad4d.a28ea4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d008572b.f80a88","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"autobud","tz":"","charset":"UTF8"},{"id":"f003c708.f1968","type":"http in","z":"a9d6a1e5.18f9e","name":"","url":"upload","method":"post","upload":true,"swaggerDoc":"","x":110,"y":100,"wires":[["c5ea9efe.b0b778","d59e4f24.00a1a8"]]},{"id":"c98c8ae1.75b188","type":"comment","z":"a9d6a1e5.18f9e","name":"Web Listener to handle Data Uploads","info":"","x":190,"y":60,"wires":[]},{"id":"e51e3d6c.c7e5a8","type":"function","z":"a9d6a1e5.18f9e","name":"Data Insert","func":"dataId = msg.payload.Id;\ndataGrowDay = msg.payload.GrowDay;\ndataIP = msg.payload.Ip;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO DailyLog (Date, Id, GrowDay, Ip) VALUES (now(), \" + dataId + \", \" + dataGrowDay + \", \" + \"'\" + dataIP + \"'\" + \");\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["7111495b.e194","ebba243e.209c38"]]},{"id":"c5ea9efe.b0b778","type":"template","z":"a9d6a1e5.18f9e","name":"Format HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n{{{payload}}}\n","x":260,"y":160,"wires":[["47781d25.e1a664"]]},{"id":"47781d25.e1a664","type":"http response","z":"a9d6a1e5.18f9e","name":"","statusCode":"","headers":{},"x":430,"y":160,"wires":[]},{"id":"d59e4f24.00a1a8","type":"function","z":"a9d6a1e5.18f9e","name":"Sec Check","func":"\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":330,"y":100,"wires":[["e51e3d6c.c7e5a8"],[]]},{"id":"7111495b.e194","type":"mysql","z":"a9d6a1e5.18f9e","mydb":"d008572b.f80a88","name":"AutoBud DB","x":750,"y":100,"wires":[[]]},{"id":"ebba243e.209c38","type":"debug","z":"a9d6a1e5.18f9e","name":"LogOutput","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":180,"wires":[]},{"id":"7c325e91.9bd81","type":"http in","z":"a9d6a1e5.18f9e","name":"","url":"imgupload","method":"post","upload":true,"swaggerDoc":"","x":120,"y":580,"wires":[["f2eaa285.4a804","e96a24c.1b3e5d8"]]},{"id":"2fc0f278.9b8cce","type":"comment","z":"a9d6a1e5.18f9e","name":"Web Listener to handle Image Uploads","info":"","x":190,"y":540,"wires":[]},{"id":"f2eaa285.4a804","type":"template","z":"a9d6a1e5.18f9e","name":"Format HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n{{{payload}}}\n","x":260,"y":640,"wires":[["bc5453a2.58a"]]},{"id":"bc5453a2.58a","type":"http response","z":"a9d6a1e5.18f9e","name":"","statusCode":"","headers":{},"x":430,"y":640,"wires":[]},{"id":"e96a24c.1b3e5d8","type":"function","z":"a9d6a1e5.18f9e","name":"Sec Check","func":"\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;","outputs":2,"noerr":0,"x":350,"y":580,"wires":[["f943e7eb.1793c8"],["e0282476.42b7b8"]]},{"id":"36c07fa.753848","type":"debug","z":"a9d6a1e5.18f9e","name":"Auth","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":580,"wires":[]},{"id":"e0282476.42b7b8","type":"debug","z":"a9d6a1e5.18f9e","name":"Fail","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":660,"wires":[]},{"id":"ece3ae1f.63146","type":"exec","z":"a9d6a1e5.18f9e","command":"python3","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Start Session","x":910,"y":566,"wires":[["36c07fa.753848"],["36c07fa.753848"],["36c07fa.753848"]]},{"id":"f943e7eb.1793c8","type":"change","z":"a9d6a1e5.18f9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload[0].Id","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":560,"wires":[["4897eebb.26c35"]]},{"id":"4897eebb.26c35","type":"change","z":"a9d6a1e5.18f9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"/var/www/html/uploads/imguploader.py -i \" & payload & \"\" ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":560,"wires":[["36c07fa.753848","ece3ae1f.63146"]]},{"id":"c72cb2bb.86657","type":"http in","z":"a9d6a1e5.18f9e","name":"","url":"log","method":"post","upload":true,"swaggerDoc":"","x":80,"y":800,"wires":[["aa218128.88f6a","e15874f4.045de8","cab69c4e.a600e"]]},{"id":"fda34fe6.c0857","type":"comment","z":"a9d6a1e5.18f9e","name":"Web Listener to handle log updates ","info":"","x":180,"y":760,"wires":[]},{"id":"c39b5df2.65e04","type":"function","z":"a9d6a1e5.18f9e","name":"Data Insert","func":"dataId = msg.payload.Id;\ndataMsg = msg.payload.msg;\ndataAmount = msg.payload.amt;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO Logs (Time, id, Event, Amount) VALUES (now(), \" + dataId + \", \" + dataMsg + \", \" + dataAmount + \");\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":800,"wires":[["cd6c5be.fe9d8a8","cab69c4e.a600e"]]},{"id":"aa218128.88f6a","type":"template","z":"a9d6a1e5.18f9e","name":"Format HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n{{{payload}}}\n","x":260,"y":860,"wires":[["328b62b7.3089ce"]]},{"id":"328b62b7.3089ce","type":"http response","z":"a9d6a1e5.18f9e","name":"","statusCode":"","headers":{},"x":430,"y":860,"wires":[]},{"id":"e15874f4.045de8","type":"function","z":"a9d6a1e5.18f9e","name":"Sec Check","func":"\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":330,"y":800,"wires":[["34c746b3.19554a"],[]]},{"id":"cd6c5be.fe9d8a8","type":"mysql","z":"a9d6a1e5.18f9e","mydb":"d008572b.f80a88","name":"AutoBud DB","x":1110,"y":780,"wires":[[]]},{"id":"cab69c4e.a600e","type":"debug","z":"a9d6a1e5.18f9e","name":"LogOutput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":900,"wires":[]},{"id":"a4671f75.c1c47","type":"http in","z":"a9d6a1e5.18f9e","name":"","url":"data","method":"post","upload":true,"swaggerDoc":"","x":110,"y":980,"wires":[["550aa44e.a0e73c","5fcfd79c.709d18","f67b562a.3f4568"]]},{"id":"a5169ad9.484f68","type":"comment","z":"a9d6a1e5.18f9e","name":"Web Listener to handle External Sensors","info":"","x":200,"y":940,"wires":[]},{"id":"d6e6ffaf.580e2","type":"function","z":"a9d6a1e5.18f9e","name":"Data Insert","func":"dataId = msg.payload.Id;\ndataMsg = msg.payload.msg;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO SensorData (Time, id, Moisture, Type) VALUES (now(), \" + dataId + \", \" + dataMsg + \", \" + \"1\" + \");\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":980,"wires":[["bcae1048.dc606"]]},{"id":"550aa44e.a0e73c","type":"template","z":"a9d6a1e5.18f9e","name":"Format HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n{{{payload}}}\n","x":260,"y":1040,"wires":[["c72d0c89.bb"]]},{"id":"c72d0c89.bb","type":"http response","z":"a9d6a1e5.18f9e","name":"","statusCode":"","headers":{},"x":430,"y":1040,"wires":[]},{"id":"5fcfd79c.709d18","type":"function","z":"a9d6a1e5.18f9e","name":"Sec Check","func":"\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":330,"y":980,"wires":[["83af9492.4f53f8"],[]]},{"id":"bcae1048.dc606","type":"mysql","z":"a9d6a1e5.18f9e","mydb":"d008572b.f80a88","name":"AutoBud DB","x":750,"y":980,"wires":[[]]},{"id":"f67b562a.3f4568","type":"debug","z":"a9d6a1e5.18f9e","name":"LogOutput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":880,"wires":[]},{"id":"83af9492.4f53f8","type":"function","z":"a9d6a1e5.18f9e","name":"Data Insert","func":"dataId = msg.payload.Id;\ndataMsg = msg.payload.msg;\ndataTemp = msg.payload.Temp;\ndataHum = msg.payload.Hum;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO SensorData (Time, id, Moisture, Temp, Hum) VALUES (now(), \" + dataId + \", \" + dataMsg + \", \" + dataTemp + \", \" + dataHum + \");\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1040,"wires":[["bcae1048.dc606"]]},{"id":"34c746b3.19554a","type":"function","z":"a9d6a1e5.18f9e","name":"Water Check","func":"var water = msg.payload.msg;\n\nif (water == 3) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":670,"y":740,"wires":[["458f6dc.f476894"],["c39b5df2.65e04"]]},{"id":"458f6dc.f476894","type":"function","z":"a9d6a1e5.18f9e","name":"Data Insert","func":"dataId = msg.payload.Id;\ndataMsg = msg.payload.msg;\ndataAmount = msg.payload.amt;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO WaterEvents (Time, id, Event, Amount) VALUES (now(), \" + dataId + \", \" + dataMsg + \", \" + dataAmount + \");\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":740,"wires":[["cd6c5be.fe9d8a8","cab69c4e.a600e"]]},{"id":"4b97251c.d4462c","type":"comment","z":"a9d6a1e5.18f9e","name":"Web Listener to handle SMS / E-Mail","info":"","x":190,"y":1120,"wires":[]},{"id":"bcac754a.9cf478","type":"debug","z":"a9d6a1e5.18f9e","name":"LogOutput","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"to","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":1220,"wires":[]},{"id":"e4023b38.6d5ad8","type":"e-mail","z":"a9d6a1e5.18f9e","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"","dname":"Email Out","x":1140,"y":1100,"wires":[]},{"id":"35205028.7f09b","type":"inject","z":"a9d6a1e5.18f9e","name":"","props":[{"p":"payload"},{"p":"to","v":"EMAIL@gmail.com","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Autobud Online","payloadType":"str","x":560,"y":1100,"wires":[["e4023b38.6d5ad8"]]},{"id":"4fb8cd7c.954584","type":"inject","z":"a9d6a1e5.18f9e","name":"","props":[{"p":"to","v":"test@gmail.com","vt":"str"},{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"testing","payload":"1.1.1.1","payloadType":"str","x":570,"y":1320,"wires":[["e4023b38.6d5ad8"]]},{"id":"ec7ab263.be39c","type":"http in","z":"a9d6a1e5.18f9e","name":"","url":"emailalert","method":"post","upload":true,"swaggerDoc":"","x":120,"y":1200,"wires":[["56f9f941.06bb98","9d1722ba.2807d","bcac754a.9cf478"]]},{"id":"56f9f941.06bb98","type":"template","z":"a9d6a1e5.18f9e","name":"Format HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n{{{payload}}}\n","x":280,"y":1260,"wires":[["970c345b.873818"]]},{"id":"970c345b.873818","type":"http response","z":"a9d6a1e5.18f9e","name":"","statusCode":"","headers":{},"x":451,"y":1260,"wires":[]},{"id":"9d1722ba.2807d","type":"function","z":"a9d6a1e5.18f9e","name":"Sec Check","func":"\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":330,"y":1180,"wires":[["ec32a651.635588","bcac754a.9cf478"],[]]},{"id":"ec32a651.635588","type":"change","z":"a9d6a1e5.18f9e","name":"","rules":[{"t":"set","p":"to","pt":"msg","to":"payload.to","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.ip","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Autobud Notifier","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1180,"wires":[["e4023b38.6d5ad8","bcac754a.9cf478"]]}]