flows.json
[
    {
        "id": "a9d6a1e5.18f9e",
        "type": "tab",
        "label": "API ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f739ade423c85ba0",
        "type": "tab",
        "label": "AutoBud",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c5ee7d10.742bd",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "autobud",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "8cfb63ae7c7e017f",
        "type": "ui_group",
        "name": "Current Status",
        "tab": "579e014c5f7e0574",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "b52a0b28eeb752b1",
        "type": "ui_group",
        "name": "Grow Info",
        "tab": "579e014c5f7e0574",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "483fbcce35a01e03",
        "type": "ui_group",
        "name": "Grow Logs",
        "tab": "579e014c5f7e0574",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "579e014c5f7e0574",
        "type": "ui_tab",
        "name": "AutoBud",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "28600c9d83e004d7",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f003c708.f1968",
        "type": "http in",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "url": "upload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "c5ea9efe.b0b778",
                "d59e4f24.00a1a8"
            ]
        ]
    },
    {
        "id": "c98c8ae1.75b188",
        "type": "comment",
        "z": "a9d6a1e5.18f9e",
        "name": "Web Listener to handle Data Uploads",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "e51e3d6c.c7e5a8",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Data Insert",
        "func": "dataId = msg.payload.Id;\ndataGrowDay = msg.payload.GrowDay;\ndataIP = msg.payload.Ip;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO DailyLog (Date, Id, GrowDay, Ip) VALUES (now(), \" + dataId + \", \" + dataGrowDay + \", \" + \"'\" + dataIP + \"'\" + \");\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "7111495b.e194",
                "ebba243e.209c38"
            ]
        ]
    },
    {
        "id": "c5ea9efe.b0b778",
        "type": "template",
        "z": "a9d6a1e5.18f9e",
        "name": "Format HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "\n{{{payload}}}\n",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "47781d25.e1a664"
            ]
        ]
    },
    {
        "id": "47781d25.e1a664",
        "type": "http response",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "d59e4f24.00a1a8",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Sec Check",
        "func": "\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "e51e3d6c.c7e5a8"
            ],
            []
        ]
    },
    {
        "id": "7111495b.e194",
        "type": "mysql",
        "z": "a9d6a1e5.18f9e",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 750,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ebba243e.209c38",
        "type": "debug",
        "z": "a9d6a1e5.18f9e",
        "name": "LogOutput",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "7c325e91.9bd81",
        "type": "http in",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "url": "imgupload",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "f2eaa285.4a804",
                "e96a24c.1b3e5d8"
            ]
        ]
    },
    {
        "id": "2fc0f278.9b8cce",
        "type": "comment",
        "z": "a9d6a1e5.18f9e",
        "name": "Web Listener to handle Image Uploads",
        "info": "",
        "x": 190,
        "y": 540,
        "wires": []
    },
    {
        "id": "f2eaa285.4a804",
        "type": "template",
        "z": "a9d6a1e5.18f9e",
        "name": "Format HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "\n{{{payload}}}\n",
        "x": 260,
        "y": 640,
        "wires": [
            [
                "bc5453a2.58a"
            ]
        ]
    },
    {
        "id": "bc5453a2.58a",
        "type": "http response",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 640,
        "wires": []
    },
    {
        "id": "e96a24c.1b3e5d8",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Sec Check",
        "func": "\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "f943e7eb.1793c8"
            ],
            [
                "e0282476.42b7b8"
            ]
        ]
    },
    {
        "id": "36c07fa.753848",
        "type": "debug",
        "z": "a9d6a1e5.18f9e",
        "name": "Auth",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1110,
        "y": 580,
        "wires": []
    },
    {
        "id": "e0282476.42b7b8",
        "type": "debug",
        "z": "a9d6a1e5.18f9e",
        "name": "Fail",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1110,
        "y": 660,
        "wires": []
    },
    {
        "id": "ece3ae1f.63146",
        "type": "exec",
        "z": "a9d6a1e5.18f9e",
        "command": "python3",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Start Session",
        "x": 910,
        "y": 566,
        "wires": [
            [
                "36c07fa.753848"
            ],
            [
                "36c07fa.753848"
            ],
            [
                "36c07fa.753848"
            ]
        ]
    },
    {
        "id": "f943e7eb.1793c8",
        "type": "change",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload[0].Id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 560,
        "wires": [
            [
                "4897eebb.26c35"
            ]
        ]
    },
    {
        "id": "4897eebb.26c35",
        "type": "change",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"/var/www/html/uploads/imguploader.py -i \" & payload & \"\" ",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 560,
        "wires": [
            [
                "36c07fa.753848",
                "ece3ae1f.63146"
            ]
        ]
    },
    {
        "id": "c72cb2bb.86657",
        "type": "http in",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "url": "log",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 80,
        "y": 800,
        "wires": [
            [
                "aa218128.88f6a",
                "e15874f4.045de8",
                "cab69c4e.a600e"
            ]
        ]
    },
    {
        "id": "fda34fe6.c0857",
        "type": "comment",
        "z": "a9d6a1e5.18f9e",
        "name": "Web Listener to handle log updates ",
        "info": "",
        "x": 180,
        "y": 760,
        "wires": []
    },
    {
        "id": "c39b5df2.65e04",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Data Insert",
        "func": "dataId = msg.payload.Id;\ndataMsg = msg.payload.msg;\ndataAmount = msg.payload.amt;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO Logs (Time, id, Event, Amount) VALUES (now(), \" + dataId + \", \" + dataMsg + \", \" + dataAmount + \");\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 800,
        "wires": [
            [
                "cd6c5be.fe9d8a8",
                "cab69c4e.a600e"
            ]
        ]
    },
    {
        "id": "aa218128.88f6a",
        "type": "template",
        "z": "a9d6a1e5.18f9e",
        "name": "Format HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "\n{{{payload}}}\n",
        "x": 260,
        "y": 860,
        "wires": [
            [
                "328b62b7.3089ce"
            ]
        ]
    },
    {
        "id": "328b62b7.3089ce",
        "type": "http response",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 860,
        "wires": []
    },
    {
        "id": "e15874f4.045de8",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Sec Check",
        "func": "\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 800,
        "wires": [
            [
                "34c746b3.19554a"
            ],
            []
        ]
    },
    {
        "id": "cd6c5be.fe9d8a8",
        "type": "mysql",
        "z": "a9d6a1e5.18f9e",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1110,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "cab69c4e.a600e",
        "type": "debug",
        "z": "a9d6a1e5.18f9e",
        "name": "LogOutput",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 960,
        "wires": []
    },
    {
        "id": "a4671f75.c1c47",
        "type": "http in",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "url": "data",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 110,
        "y": 980,
        "wires": [
            [
                "550aa44e.a0e73c",
                "5fcfd79c.709d18",
                "f67b562a.3f4568"
            ]
        ]
    },
    {
        "id": "a5169ad9.484f68",
        "type": "comment",
        "z": "a9d6a1e5.18f9e",
        "name": "Web Listener to handle External Sensors",
        "info": "",
        "x": 200,
        "y": 940,
        "wires": []
    },
    {
        "id": "d6e6ffaf.580e2",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Data Insert",
        "func": "dataId = msg.payload.Id;\ndataMsg = msg.payload.msg;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO SensorData (Time, id, Moisture, Type) VALUES (now(), \" + dataId + \", \" + dataMsg + \", \" + \"1\" + \");\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 980,
        "wires": [
            [
                "bcae1048.dc606"
            ]
        ]
    },
    {
        "id": "550aa44e.a0e73c",
        "type": "template",
        "z": "a9d6a1e5.18f9e",
        "name": "Format HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "\n{{{payload}}}\n",
        "x": 260,
        "y": 1040,
        "wires": [
            [
                "c72d0c89.bb"
            ]
        ]
    },
    {
        "id": "c72d0c89.bb",
        "type": "http response",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5fcfd79c.709d18",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Sec Check",
        "func": "\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 980,
        "wires": [
            [
                "83af9492.4f53f8"
            ],
            []
        ]
    },
    {
        "id": "bcae1048.dc606",
        "type": "mysql",
        "z": "a9d6a1e5.18f9e",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 750,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "f67b562a.3f4568",
        "type": "debug",
        "z": "a9d6a1e5.18f9e",
        "name": "LogOutput",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 880,
        "wires": []
    },
    {
        "id": "83af9492.4f53f8",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Data Insert",
        "func": "dataId = msg.payload.Id;\ndataMsg = msg.payload.msg;\ndataTemp = msg.payload.Temp;\ndataHum = msg.payload.Hum;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO SensorData (Time, id, Moisture, Temp, Hum) VALUES (now(), \" + dataId + \", \" + dataMsg + \", \" + dataTemp + \", \" + dataHum + \");\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 1040,
        "wires": [
            [
                "bcae1048.dc606",
                "cab69c4e.a600e"
            ]
        ]
    },
    {
        "id": "34c746b3.19554a",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Water Check",
        "func": "var water = msg.payload.msg;\n\nif (water == 3) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 740,
        "wires": [
            [
                "458f6dc.f476894"
            ],
            [
                "c39b5df2.65e04"
            ]
        ]
    },
    {
        "id": "458f6dc.f476894",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Data Insert",
        "func": "dataId = msg.payload.Id;\ndataMsg = msg.payload.msg;\ndataAmount = msg.payload.amt;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO WaterEvents (Time, id, Event, Amount) VALUES (now(), \" + dataId + \", \" + dataMsg + \", \" + dataAmount + \");\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 870,
        "y": 740,
        "wires": [
            [
                "cd6c5be.fe9d8a8",
                "cab69c4e.a600e"
            ]
        ]
    },
    {
        "id": "4b97251c.d4462c",
        "type": "comment",
        "z": "a9d6a1e5.18f9e",
        "name": "Web Listener to handle SMS / E-Mail",
        "info": "",
        "x": 190,
        "y": 1120,
        "wires": []
    },
    {
        "id": "bcac754a.9cf478",
        "type": "debug",
        "z": "a9d6a1e5.18f9e",
        "name": "LogOutput",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "to",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 1220,
        "wires": []
    },
    {
        "id": "e4023b38.6d5ad8",
        "type": "e-mail",
        "z": "a9d6a1e5.18f9e",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "",
        "dname": "Email Out",
        "x": 1140,
        "y": 1100,
        "wires": []
    },
    {
        "id": "35205028.7f09b",
        "type": "inject",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "to",
                "v": "5132400792@vtext.com",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Autobud Online",
        "payloadType": "str",
        "x": 560,
        "y": 1100,
        "wires": [
            [
                "e4023b38.6d5ad8"
            ]
        ]
    },
    {
        "id": "ec7ab263.be39c",
        "type": "http in",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "url": "emailalert",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 120,
        "y": 1200,
        "wires": [
            [
                "56f9f941.06bb98",
                "9d1722ba.2807d",
                "bcac754a.9cf478"
            ]
        ]
    },
    {
        "id": "56f9f941.06bb98",
        "type": "template",
        "z": "a9d6a1e5.18f9e",
        "name": "Format HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "\n{{{payload}}}\n",
        "x": 280,
        "y": 1260,
        "wires": [
            [
                "970c345b.873818"
            ]
        ]
    },
    {
        "id": "970c345b.873818",
        "type": "http response",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 451,
        "y": 1260,
        "wires": []
    },
    {
        "id": "9d1722ba.2807d",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Sec Check",
        "func": "\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 1180,
        "wires": [
            [
                "ec32a651.635588",
                "bcac754a.9cf478"
            ],
            []
        ]
    },
    {
        "id": "ec32a651.635588",
        "type": "change",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "to",
                "pt": "msg",
                "to": "payload.to",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ip",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Autobud Notifier",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1180,
        "wires": [
            [
                "e4023b38.6d5ad8",
                "bcac754a.9cf478"
            ]
        ]
    },
    {
        "id": "29982911.c8ba26",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Action Handeler",
        "func": "\nvar OutCode = msg.payload.ip;\nvar OutMessage;\n\nif (OutCode == 1) {\n    msg.payload = \"Autobud Online TEST Status 1\"\n}\n\nif (OutCode == 2) {\n    msg.payload = \"Autobud Online TEST Status 2\"\n}\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 920,
        "y": 1320,
        "wires": [
            [
                "e4023b38.6d5ad8",
                "bcac754a.9cf478"
            ]
        ]
    },
    {
        "id": "56197681.e76208",
        "type": "comment",
        "z": "a9d6a1e5.18f9e",
        "name": "Web Listener to handle Tank Levels",
        "info": "",
        "x": 160,
        "y": 1380,
        "wires": []
    },
    {
        "id": "291ff3ca.46418c",
        "type": "http in",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "url": "tank",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "988ce6a5.d6b568",
                "b7bacc34.9a3c8"
            ]
        ]
    },
    {
        "id": "988ce6a5.d6b568",
        "type": "template",
        "z": "a9d6a1e5.18f9e",
        "name": "Format HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "\n{{{payload}}}\n",
        "x": 280,
        "y": 1500,
        "wires": [
            [
                "351e87fb.81baa8"
            ]
        ]
    },
    {
        "id": "351e87fb.81baa8",
        "type": "http response",
        "z": "a9d6a1e5.18f9e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 1500,
        "wires": []
    },
    {
        "id": "b7bacc34.9a3c8",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Sec Check",
        "func": "\nvar auth = msg.payload.Id;\n\nif (auth < 70) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 1440,
        "wires": [
            [
                "a1b6e846.840ef8"
            ],
            []
        ]
    },
    {
        "id": "a1b6e846.840ef8",
        "type": "function",
        "z": "a9d6a1e5.18f9e",
        "name": "Data Insert",
        "func": "dataId = msg.payload.Id;\ndataMsg = msg.payload.msg;\ndataAmt = msg.payload.Amt;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO Tank (Time, Id, Level, Amt) VALUES (now(), \" + dataId + \", \" + dataMsg  +\", \" + dataAmt  +\");\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 630,
        "y": 1500,
        "wires": [
            [
                "229fcbe9.b11724",
                "84c061ce.1a773"
            ]
        ]
    },
    {
        "id": "229fcbe9.b11724",
        "type": "mysql",
        "z": "a9d6a1e5.18f9e",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 810,
        "y": 1500,
        "wires": [
            [
                "84c061ce.1a773"
            ]
        ]
    },
    {
        "id": "84c061ce.1a773",
        "type": "debug",
        "z": "a9d6a1e5.18f9e",
        "name": "LogOutput",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 1420,
        "wires": []
    },
    {
        "id": "87bd278639930640",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "8a3ec308f45c0d8c",
                "848764bc4e0a5927",
                "e861ebdda052c181"
            ]
        ]
    },
    {
        "id": "0660f3b0c34c2d3a",
        "type": "template",
        "z": "f739ade423c85ba0",
        "name": "Get Grows",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " \nSELECT id FROM Grows",
        "output": "str",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "922160521ad96dfd"
            ]
        ]
    },
    {
        "id": "cf97222825feae28",
        "type": "ui_button",
        "z": "f739ade423c85ba0",
        "name": "Open Date",
        "group": "8cfb63ae7c7e017f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Grow Selector",
        "tooltip": "Select avaiable grows",
        "color": "",
        "bgcolor": "#85C1E9",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "0660f3b0c34c2d3a",
                "e8340cc260eb7e05"
            ]
        ]
    },
    {
        "id": "426ec0481c9c45c7",
        "type": "ui_dropdown",
        "z": "f739ade423c85ba0",
        "name": "",
        "label": "Select Grow",
        "tooltip": "",
        "place": "",
        "group": "8cfb63ae7c7e017f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [],
        "payload": "",
        "topic": "msg.options",
        "x": 790,
        "y": 40,
        "wires": [
            [
                "4caf0c4345d8c329",
                "bfd56fecd2e2cfb5",
                "6b9fee05fa7a0860",
                "a8449430d761bee4",
                "e2f3b7d036d69163",
                "ad768f72bc0545bd",
                "59d43178338c1324",
                "18824756c5df0dc0",
                "989e46eefb868ae0",
                "d465e122bf8c75af",
                "ac1c61805b01d72d",
                "a9cd4244653a4d17"
            ]
        ]
    },
    {
        "id": "6be7427b74b079c9",
        "type": "change",
        "z": "f739ade423c85ba0",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "$.payload.id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 80,
        "wires": [
            [
                "426ec0481c9c45c7"
            ]
        ]
    },
    {
        "id": "4caf0c4345d8c329",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "DailyLog",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT Date, GrowDay, Ip FROM DailyLog WHERE Id =  \" + \"'\" + data + \"'\" + \"ORDER BY Date DESC LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 80,
        "wires": [
            [
                "87bd278639930640"
            ]
        ]
    },
    {
        "id": "8a3ec308f45c0d8c",
        "type": "ui_text",
        "z": "f739ade423c85ba0",
        "group": "8cfb63ae7c7e017f",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Grow Day",
        "label": "Grow Day",
        "format": "{{msg.payload[0].GrowDay}}",
        "layout": "row-center",
        "x": 320,
        "y": 260,
        "wires": []
    },
    {
        "id": "848764bc4e0a5927",
        "type": "ui_text",
        "z": "f739ade423c85ba0",
        "group": "8cfb63ae7c7e017f",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "IP",
        "label": "Device:",
        "format": "http://{{msg.payload[0].Ip}}",
        "layout": "row-center",
        "x": 330,
        "y": 300,
        "wires": []
    },
    {
        "id": "902fd6a7b6a5e595",
        "type": "comment",
        "z": "f739ade423c85ba0",
        "name": "Grow Selector",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "3793ef46eb17c0bc",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Convert",
        "func": "data = msg.payload[0].img;\nmsg.payload = data\nvar m = {\n topic : \"( + data + )\"     \n };\nreturn msg;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 260,
        "wires": [
            [
                "f6662b6ea21a9d1b"
            ]
        ]
    },
    {
        "id": "f6662b6ea21a9d1b",
        "type": "ui_template",
        "z": "f739ade423c85ba0",
        "group": "8cfb63ae7c7e017f",
        "name": "Image",
        "order": 12,
        "width": "0",
        "height": "0",
        "format": "<div height=\"350\" style=\"height: 350px;\">\n<img src=data:image/jpeg;base64,{{msg.payload}} width=\"450\"><br/>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 810,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e861ebdda052c181",
        "type": "ui_text",
        "z": "f739ade423c85ba0",
        "group": "8cfb63ae7c7e017f",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Date",
        "label": "Date",
        "format": "{{msg.payload[0].Date}}",
        "layout": "row-center",
        "x": 330,
        "y": 340,
        "wires": []
    },
    {
        "id": "bfd56fecd2e2cfb5",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Img",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT img FROM ImgDir WHERE id =  \" + \"'\" + data + \"'\" + \"ORDER BY Date DESC LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 140,
        "wires": [
            [
                "d732cdf3ce49c324"
            ]
        ]
    },
    {
        "id": "922160521ad96dfd",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "6be7427b74b079c9"
            ]
        ]
    },
    {
        "id": "d732cdf3ce49c324",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "3793ef46eb17c0bc"
            ]
        ]
    },
    {
        "id": "fe45a82be5bafc06",
        "type": "comment",
        "z": "f739ade423c85ba0",
        "name": "Current Info",
        "info": "",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "6a6b96b1f7726c49",
        "type": "comment",
        "z": "f739ade423c85ba0",
        "name": "Historical Data",
        "info": "",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "d465e122bf8c75af",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Historical Images",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT GrowDay FROM DailyLog WHERE id =  \" + \"'\" + data + \"'\" + \"ORDER BY Date DESC;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "adc085cfbe131619"
            ]
        ]
    },
    {
        "id": "bb0c3f71361e5893",
        "type": "change",
        "z": "f739ade423c85ba0",
        "name": "Format data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t  $series := [\t    { \"field\": \"Moisture\", \"label\": \"Soil Moisture\" },\t    { \"field\": \"data2\", \"label\": \"Range\" }\t  ];\t  $xaxis := \"Time\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 500,
        "wires": [
            [
                "14a511a353380fad",
                "f47453573f97add3"
            ]
        ]
    },
    {
        "id": "14a511a353380fad",
        "type": "ui_chart",
        "z": "f739ade423c85ba0",
        "name": "Soil Moisture",
        "group": "b52a0b28eeb752b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Soil Moisture",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": "75",
        "removeOlderPoints": "4000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 950,
        "y": 500,
        "wires": [
            [
                "3cd8c6aaed4449f7"
            ]
        ]
    },
    {
        "id": "b1d5643f0d10322c",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "bb0c3f71361e5893"
            ]
        ]
    },
    {
        "id": "6b9fee05fa7a0860",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Historical Moisture",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT Moisture, Time FROM SensorData WHERE id =  \" + \"'\" + data + \"'\" + \"ORDER BY Time DESC;\"     \n };\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "b1d5643f0d10322c"
            ]
        ]
    },
    {
        "id": "adc085cfbe131619",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 330,
        "y": 660,
        "wires": [
            [
                "665e1a9aa1e0f767"
            ]
        ]
    },
    {
        "id": "665e1a9aa1e0f767",
        "type": "change",
        "z": "f739ade423c85ba0",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "$.payload.GrowDay",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 660,
        "wires": [
            [
                "5db356c3972cbd5a"
            ]
        ]
    },
    {
        "id": "5db356c3972cbd5a",
        "type": "ui_dropdown",
        "z": "f739ade423c85ba0",
        "name": "Day",
        "label": "Select Grow Day",
        "tooltip": "",
        "place": "",
        "group": "b52a0b28eeb752b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "msg.options",
        "x": 650,
        "y": 660,
        "wires": [
            [
                "484b49f6836cab3e"
            ]
        ]
    },
    {
        "id": "e4ee3ac654bd5bf3",
        "type": "moment",
        "z": "f739ade423c85ba0",
        "name": "Date Converter",
        "topic": "Date",
        "input": "payload",
        "inputType": "msg",
        "inTz": "Europe/Jersey",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD",
        "locale": "en_GB",
        "output": "payload",
        "outputType": "msg",
        "outTz": "Europe/Jersey",
        "x": 380,
        "y": 720,
        "wires": [
            [
                "0d784f124ca82f13"
            ]
        ]
    },
    {
        "id": "484b49f6836cab3e",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Pull Date",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT Date FROM DailyLog WHERE GrowDay =  \" + \"'\" + data + \"'\" + \" ORDER BY DATE DESC LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 660,
        "wires": [
            [
                "07c6e2c441453990"
            ]
        ]
    },
    {
        "id": "07c6e2c441453990",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 990,
        "y": 660,
        "wires": [
            [
                "955adf43965495a8"
            ]
        ]
    },
    {
        "id": "955adf43965495a8",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Convert",
        "func": "data = msg.payload[0].Date;\nmsg.payload = data\nvar m = {\n topic : \"( + data + )\"     \n };\nreturn msg;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "e4ee3ac654bd5bf3"
            ]
        ]
    },
    {
        "id": "0d784f124ca82f13",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Pull Date",
        "func": "data = (msg.payload);\nvar work_GlobalTemp = global.get(\"Temp\");\ngrow = work_GlobalTemp.b;\nvar m = {\n topic : \"SELECT img FROM ImgDir WHERE Date LIKE  \" + \"'\" + data + \"%'\" + \" and id = \" + grow + \" LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 720,
        "wires": [
            [
                "a11af6ae928a02b3"
            ]
        ]
    },
    {
        "id": "a11af6ae928a02b3",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 750,
        "y": 720,
        "wires": [
            [
                "9f6cdd78919743af"
            ]
        ]
    },
    {
        "id": "9f6cdd78919743af",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Convert",
        "func": "data = msg.payload[0].img;\nmsg.payload = data\nvar m = {\n topic : \"( + data + )\"     \n };\nreturn msg;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 720,
        "wires": [
            [
                "86ca0957f516ac88"
            ]
        ]
    },
    {
        "id": "86ca0957f516ac88",
        "type": "ui_template",
        "z": "f739ade423c85ba0",
        "group": "b52a0b28eeb752b1",
        "name": "Image",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<div height=\"350\" style=\"height: 350px;\">\n<img src=data:image/jpeg;base64,{{msg.payload}} width=\"450\"><br/>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1090,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d4af0d6bed555d01",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 370,
        "y": 780,
        "wires": [
            [
                "1dec8a3f9e402f0f"
            ]
        ]
    },
    {
        "id": "a8449430d761bee4",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Water Events",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT WaterEvents.Amount, DailyLog.GrowDay FROM WaterEvents  JOIN DailyLog ON WaterEvents.Time = DailyLog.Date AND WaterEvents.id = DailyLog.Id WHERE WaterEvents.id =  \" + \"'\" + data + \"'\" + \" and WaterEvents.`Event` = 3  order by DailyLog.GrowDay DESC;\"     \n };\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "d4af0d6bed555d01"
            ]
        ]
    },
    {
        "id": "1dec8a3f9e402f0f",
        "type": "ui_table",
        "z": "f739ade423c85ba0",
        "group": "b52a0b28eeb752b1",
        "name": "Water Events",
        "order": 4,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 700,
        "y": 800,
        "wires": []
    },
    {
        "id": "26c61d406ba5b41e",
        "type": "ui_text_input",
        "z": "f739ade423c85ba0",
        "name": "Enter Log Event",
        "label": "Enter Log Event",
        "tooltip": "",
        "group": "483fbcce35a01e03",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 340,
        "y": 920,
        "wires": [
            [
                "f017eeb74d5fa908"
            ]
        ]
    },
    {
        "id": "f017eeb74d5fa908",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Log Update",
        "func": "var work_GlobalTemp = global.get(\"Temp\");\ngrow = work_GlobalTemp.b;\ndata = (msg.payload);\nvar m = {\n topic : \"INSERT INTO GrowLogs (id, Time, event) VALUES (\" + grow + \", NOW(), '\" + data + \"');\"     \n };\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 920,
        "wires": [
            [
                "da7eae3d4ebb3bb8"
            ]
        ]
    },
    {
        "id": "e2f3b7d036d69163",
        "type": "ui_button",
        "z": "f739ade423c85ba0",
        "name": "",
        "group": "483fbcce35a01e03",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Enter Log Event",
        "tooltip": "",
        "color": "",
        "bgcolor": "#85C1E9",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "26c61d406ba5b41e"
            ]
        ]
    },
    {
        "id": "d7774668df45a320",
        "type": "comment",
        "z": "f739ade423c85ba0",
        "name": "Logging",
        "info": "",
        "x": 120,
        "y": 860,
        "wires": []
    },
    {
        "id": "da7eae3d4ebb3bb8",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 510,
        "y": 980,
        "wires": [
            [
                "5880ce03bc7cc3d1"
            ]
        ]
    },
    {
        "id": "5880ce03bc7cc3d1",
        "type": "ui_table",
        "z": "f739ade423c85ba0",
        "group": "483fbcce35a01e03",
        "name": "Grow Logs",
        "order": 3,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 730,
        "y": 980,
        "wires": []
    },
    {
        "id": "467cc8e0173db131",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Convert",
        "func": "data = msg.payload[0].img;\nmsg.payload = data\nvar m = {\n topic : \"( + data + )\"     \n };\nreturn msg;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 120,
        "wires": [
            [
                "f78328a286a13a00"
            ]
        ]
    },
    {
        "id": "f78328a286a13a00",
        "type": "ui_template",
        "z": "f739ade423c85ba0",
        "group": "8cfb63ae7c7e017f",
        "name": "ABImage",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div height=\"60\" style=\"height: 60px;\">\n<img src=data:image/jpeg;base64,{{msg.payload}} width=\"320\"><br/>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 800,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e8340cc260eb7e05",
        "type": "template",
        "z": "f739ade423c85ba0",
        "name": "Get Img",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " \nSELECT img FROM UIImgs WHERE ImgID = 1",
        "output": "str",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "5ea718d1b50673d0"
            ]
        ]
    },
    {
        "id": "8ce31a8aaede5d05",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Img",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT img FROM UIImgs WHERE ImgID = 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5ea718d1b50673d0",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "467cc8e0173db131"
            ]
        ]
    },
    {
        "id": "32d8bf760a0d1802",
        "type": "ui_text",
        "z": "f739ade423c85ba0",
        "group": "b52a0b28eeb752b1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Water Events",
        "label": "Water Events",
        "format": "",
        "layout": "row-center",
        "x": 870,
        "y": 800,
        "wires": []
    },
    {
        "id": "ad768f72bc0545bd",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Logs",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT time, event FROM GrowLogs WHERE id =  \" + \"'\" + data + \"'\" + \" ORDER BY time DESC;\"     \n };\nreturn m;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 980,
        "wires": [
            [
                "da7eae3d4ebb3bb8"
            ]
        ]
    },
    {
        "id": "59d43178338c1324",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "DailyLog",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT Genetics, Soil FROM Grows WHERE Id =  \" + \"'\" + data + \"'\" + \";\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1040,
        "y": 40,
        "wires": [
            [
                "be62c417357bcff2"
            ]
        ]
    },
    {
        "id": "be62c417357bcff2",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "934499e3820a18e3",
                "9b7cf1e2b90818a8"
            ]
        ]
    },
    {
        "id": "934499e3820a18e3",
        "type": "ui_text",
        "z": "f739ade423c85ba0",
        "group": "8cfb63ae7c7e017f",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Genetics",
        "label": "Genetics",
        "format": "{{msg.payload[0].Genetics}}",
        "layout": "row-center",
        "x": 340,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b7cf1e2b90818a8",
        "type": "ui_text",
        "z": "f739ade423c85ba0",
        "group": "8cfb63ae7c7e017f",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "Soil",
        "label": "Soil",
        "format": "{{msg.payload[0].Soil}}",
        "layout": "row-center",
        "x": 330,
        "y": 420,
        "wires": []
    },
    {
        "id": "e59c0eb0eac8fc00",
        "type": "ui_text",
        "z": "f739ade423c85ba0",
        "group": "8cfb63ae7c7e017f",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Latest Image",
        "label": "Latest Image",
        "format": "",
        "layout": "row-center",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "ccc62a88caffbd3b",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Convert",
        "func": "data = msg.payload[0].Date;\nmsg.payload = data\nvar m = {\n topic : \"( + data + )\"     \n };\nreturn msg;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 940,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "18824756c5df0dc0",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Lighting",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT COUNT(*) AS light FROM Logs WHERE id =  \" + \"'\" + data + \"'\" + \"AND EVENT = 1 AND Time BETWEEN DATE(NOW() - INTERVAL 2 DAY) AND DATE(NOW() - INTERVAL 1 DAY);\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "e9574f5bfc7fb50a"
            ]
        ]
    },
    {
        "id": "e9574f5bfc7fb50a",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "a70ba3707fb72966"
            ]
        ]
    },
    {
        "id": "a70ba3707fb72966",
        "type": "ui_text",
        "z": "f739ade423c85ba0",
        "group": "8cfb63ae7c7e017f",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "Light Hours",
        "label": "Light Hours",
        "format": "{{msg.payload[0].light}}",
        "layout": "row-center",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "989e46eefb868ae0",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Historical Temp",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT Temp, Time FROM SensorData WHERE id =  \" + \"'\" + data + \"'\" + \"ORDER BY Time DESC;\"     \n };\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "1d7b65474e60a069"
            ]
        ]
    },
    {
        "id": "1d7b65474e60a069",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 370,
        "y": 540,
        "wires": [
            [
                "b567510d8ffb4cba"
            ]
        ]
    },
    {
        "id": "b567510d8ffb4cba",
        "type": "change",
        "z": "f739ade423c85ba0",
        "name": "Format data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t  $series := [\t    { \"field\": \"Temp\", \"label\": \"Enclosure Tempature\" },\t    { \"field\": \"data2\", \"label\": \"Range\" }\t  ];\t  $xaxis := \"Time\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 540,
        "wires": [
            [
                "5eb5218f01738972"
            ]
        ]
    },
    {
        "id": "5eb5218f01738972",
        "type": "ui_chart",
        "z": "f739ade423c85ba0",
        "name": "Enclosure Tempature",
        "group": "b52a0b28eeb752b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Enclosure Tempature",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "60",
        "ymax": "95",
        "removeOlder": "75",
        "removeOlderPoints": "4000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 980,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3cd8c6aaed4449f7",
        "type": "debug",
        "z": "f739ade423c85ba0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 360,
        "wires": []
    },
    {
        "id": "ac1c61805b01d72d",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Historical Moisture",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT Hum, Time FROM SensorData WHERE id =  \" + \"'\" + data + \"'\" + \"ORDER BY Time DESC;\"     \n };\nreturn m;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "c3d87678d634b9f6"
            ]
        ]
    },
    {
        "id": "c3d87678d634b9f6",
        "type": "mysql",
        "z": "f739ade423c85ba0",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "a28ffa86aff7b6b8"
            ]
        ]
    },
    {
        "id": "a28ffa86aff7b6b8",
        "type": "change",
        "z": "f739ade423c85ba0",
        "name": "Format data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "(\t  $series := [\t    { \"field\": \"Hum\", \"label\": \"Enclosure Hum\" },\t    { \"field\": \"data2\", \"label\": \"Range\" }\t  ];\t  $xaxis := \"Time\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 580,
        "wires": [
            [
                "a9efd10ec4b0f8cf"
            ]
        ]
    },
    {
        "id": "a9efd10ec4b0f8cf",
        "type": "ui_chart",
        "z": "f739ade423c85ba0",
        "name": "Enclosure Humidity",
        "group": "b52a0b28eeb752b1",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Enclosure Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "90",
        "removeOlder": "75",
        "removeOlderPoints": "4000",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 970,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a9cd4244653a4d17",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "",
        "func": "data = (msg.payload);\nvar GlobalTemp = {};\nGlobalTemp.a = 10;\nGlobalTemp.b = data;\nGlobalTemp.c = 22;\nglobal.set(\"Temp\",GlobalTemp);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1240,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f47453573f97add3",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "",
        "func": "var work_GlobalTemp = global.get(\"Temp\");\n\nmsg.payload = work_GlobalTemp.b;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1240,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1b047d23c2373c5a",
        "type": "comment",
        "z": "f739ade423c85ba0",
        "name": "These functions are hacked and need fixed",
        "info": "",
        "x": 1260,
        "y": 180,
        "wires": []
    },
    {
        "id": "05e6fd94497240ab",
        "type": "function",
        "z": "f739ade423c85ba0",
        "name": "Pull Date",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT img FROM ImgDir WHERE Date LIKE  \" + \"'\" + data + \"%'\" + \" LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 760,
        "wires": [
            []
        ]
    }
]
