flows.json
[
    {
        "id": "5f45bc47afcd40d8",
        "type": "tab",
        "label": "Grow Manager",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99ba0669d94b1ab2",
        "type": "template",
        "z": "5f45bc47afcd40d8",
        "name": "Get Grows",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " \nSELECT id FROM Grows",
        "output": "str",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "738bb9179da80c5a"
            ]
        ]
    },
    {
        "id": "6d27f3c8d1115f97",
        "type": "ui_button",
        "z": "5f45bc47afcd40d8",
        "name": "Open Date",
        "group": "3d49467068d0b75e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Grow Selector",
        "tooltip": "Select avaiable grows",
        "color": "",
        "bgcolor": "#85C1E9",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 90,
        "y": 140,
        "wires": [
            [
                "99ba0669d94b1ab2"
            ]
        ]
    },
    {
        "id": "0c2f2d403f0fea9e",
        "type": "ui_dropdown",
        "z": "5f45bc47afcd40d8",
        "name": "",
        "label": "Select Grow",
        "tooltip": "",
        "place": "",
        "group": "3d49467068d0b75e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "msg.options",
        "topicType": "str",
        "className": "",
        "x": 750,
        "y": 100,
        "wires": [
            [
                "5e9ee8bd1ff32c43",
                "c94afac0881fb727",
                "d5b7a0f5c44db382"
            ]
        ]
    },
    {
        "id": "7f8b0a295880f2cb",
        "type": "change",
        "z": "5f45bc47afcd40d8",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "$.payload.id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "0c2f2d403f0fea9e"
            ]
        ]
    },
    {
        "id": "15148b2aa891b940",
        "type": "comment",
        "z": "5f45bc47afcd40d8",
        "name": "Grow Selector",
        "info": "",
        "x": 90,
        "y": 100,
        "wires": []
    },
    {
        "id": "738bb9179da80c5a",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "7f8b0a295880f2cb"
            ]
        ]
    },
    {
        "id": "5e9ee8bd1ff32c43",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "",
        "func": "data = (msg.payload);\nvar Grow = {};\nGrow.a = 10;\nGrow.b = data;\nGrow.c = 22;\nglobal.set(\"Grow\",Grow);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "d4ba6b9bb67c6cfa",
        "type": "ui_text",
        "z": "5f45bc47afcd40d8",
        "group": "3d49467068d0b75e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Grow Day",
        "label": "Grow Day",
        "format": "{{msg.payload[0].GrowDay}}",
        "layout": "row-center",
        "className": "",
        "x": 1340,
        "y": 280,
        "wires": []
    },
    {
        "id": "b9dc4ddeed405728",
        "type": "ui_text",
        "z": "5f45bc47afcd40d8",
        "group": "3d49467068d0b75e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Flower Days",
        "label": "Flower Days",
        "format": "{{msg.payload[0].DaysInFlower}}",
        "layout": "row-center",
        "className": "",
        "x": 1350,
        "y": 240,
        "wires": []
    },
    {
        "id": "1817f44809d1f99b",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "06450b77639208f1",
                "fe5a7eaae23d0322",
                "eeabb267fa7549df",
                "d4ba6b9bb67c6cfa",
                "b9dc4ddeed405728",
                "eb3c64593206137e",
                "9a812cbc8d087ac1"
            ]
        ]
    },
    {
        "id": "06450b77639208f1",
        "type": "ui_text",
        "z": "5f45bc47afcd40d8",
        "group": "3d49467068d0b75e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Genetics",
        "label": "Genetics",
        "format": "{{msg.payload[0].Genetics}}",
        "layout": "row-center",
        "className": "",
        "x": 1340,
        "y": 320,
        "wires": []
    },
    {
        "id": "eeabb267fa7549df",
        "type": "ui_text",
        "z": "5f45bc47afcd40d8",
        "group": "3d49467068d0b75e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Soil",
        "label": "Soil",
        "format": "{{msg.payload[0].Soil}}",
        "layout": "row-center",
        "className": "",
        "x": 1330,
        "y": 360,
        "wires": []
    },
    {
        "id": "c94afac0881fb727",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "DailyLog",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT Date, GrowDay, Ip FROM DailyLog WHERE Id =  \" + \"'\" + data + \"'\" + \"ORDER BY Date DESC LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "x": 940,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "fe5a7eaae23d0322",
        "type": "debug",
        "z": "5f45bc47afcd40d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 140,
        "wires": []
    },
    {
        "id": "d5b7a0f5c44db382",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "DailyLog",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT Genetics, Soil, GrowDay, DaysInFlower, DaysInVeg, Experiment FROM Grows WHERE Id =  \" + \"'\" + data + \"'\" + \";\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 100,
        "wires": [
            [
                "1817f44809d1f99b"
            ]
        ]
    },
    {
        "id": "7fc842ea8035cc49",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 650,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8aecb6e6bda5ab45",
        "type": "debug",
        "z": "5f45bc47afcd40d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "9b884e87c8a1ff4e",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Data Insert",
        "func": "dataId = msg.payload.id;\ndataGenetics = msg.payload.Genetics;\ndataSoil = msg.payload.Soil;\ndataDC = msg.payload.isDCManaged;\ndataExperiment = msg.payload.Experiment;\nmsg.topic = \n/*INSERT INTO Status (Id) VALUES (\" + dataId + \");\"*/\n\"INSERT INTO Grows (Gday, id, Genetics, Experiment, isDCManaged, Soil) VALUES (now(), \" + dataId + \", '\" + dataGenetics + \"', '\" + dataExperiment + \"', '\" + isDCManaged + \"', '\" + dataSoil + \"');\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 280,
        "wires": [
            [
                "8aecb6e6bda5ab45",
                "7fc842ea8035cc49"
            ]
        ]
    },
    {
        "id": "444b47e7e879f5e1",
        "type": "ui_form",
        "z": "5f45bc47afcd40d8",
        "name": "New Grow",
        "label": "New Grow",
        "group": "1cb06dcd467f26fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Grow ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Genetics",
                "value": "Genetics",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Soil",
                "value": "Soil",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Experiment",
                "value": "Experiment",
                "type": "text",
                "required": false,
                "rows": null
            },
            {
                "label": "DC Managed",
                "value": "isDCManaged",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "Genetics": "",
            "Soil": "",
            "Experiment": "",
            "isDCManaged": ""
        },
        "payload": "",
        "submit": "Create",
        "cancel": "Cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "8aecb6e6bda5ab45",
                "9b884e87c8a1ff4e"
            ]
        ]
    },
    {
        "id": "c545e5be5b0dd47c",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 630,
        "y": 580,
        "wires": [
            [
                "8d98ef5967f0bfea"
            ]
        ]
    },
    {
        "id": "8d98ef5967f0bfea",
        "type": "debug",
        "z": "5f45bc47afcd40d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "a29632284619b69a",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update DailyLog",
        "func": "dataId = msg.payload.id;\ndataGID = msg.payload.GID;\nmsg.topic = \n\"Update DailyLog SET Id = '\" + dataGID + \"' Where Id = '\" + dataId + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 440,
        "wires": [
            [
                "c545e5be5b0dd47c"
            ]
        ]
    },
    {
        "id": "fe577aee89855084",
        "type": "ui_form",
        "z": "5f45bc47afcd40d8",
        "name": "End Grow",
        "label": "End Grow",
        "group": "1cb06dcd467f26fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Grow ID",
                "value": "id",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Archived Grow ID",
                "value": "GID",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "id": "",
            "GID": ""
        },
        "payload": "",
        "submit": "End Grow",
        "cancel": "Cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "a29632284619b69a",
                "ae06fda31122179d",
                "4d4b41073514a36d",
                "99b240ed97662656",
                "9e434217d8bacfae",
                "c147ad06b0e399c8",
                "bef002fb026dd666",
                "038a69d6f33a44b2",
                "fe0c553aea180a6a",
                "aa2b083b0d11f8ce"
            ]
        ]
    },
    {
        "id": "ae06fda31122179d",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "DeActivte",
        "func": "dataId = msg.payload.id;\nmsg.topic = \n\"Update Grows SET isActive = 0 Where Id = '\" + dataId + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 720,
        "wires": [
            [
                "c545e5be5b0dd47c"
            ]
        ]
    },
    {
        "id": "4d4b41073514a36d",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Endday",
        "func": "dataId = msg.payload.id;\nmsg.topic = \n\"Update Grows SET Eday = now() Where Id = '\" + dataId + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 760,
        "wires": [
            [
                "c545e5be5b0dd47c"
            ]
        ]
    },
    {
        "id": "038a69d6f33a44b2",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update GrowLogs",
        "func": "dataId = msg.payload.id;\ndataGID = msg.payload.GID;\nmsg.topic = \n\"Update GrowLogs SET id = '\" + dataGID + \"' Where id = '\" + dataId + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 480,
        "wires": [
            [
                "c545e5be5b0dd47c"
            ]
        ]
    },
    {
        "id": "bef002fb026dd666",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Water Events",
        "func": "dataId = msg.payload.id;\ndataGID = msg.payload.GID;\nmsg.topic = \n\"Update WaterEvents SET id = '\" + dataGID + \"' Where id = '\" + dataId + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "c545e5be5b0dd47c"
            ]
        ]
    },
    {
        "id": "c147ad06b0e399c8",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Logs",
        "func": "dataId = msg.payload.id;\ndataGID = msg.payload.GID;\nmsg.topic = \n\"Update Logs SET id = '\" + dataGID + \"' Where id = '\" + dataId + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 560,
        "wires": [
            [
                "c545e5be5b0dd47c"
            ]
        ]
    },
    {
        "id": "9e434217d8bacfae",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update ImgDir",
        "func": "dataId = msg.payload.id;\ndataGID = msg.payload.GID;\nmsg.topic = \n\"Update ImgDir SET id = '\" + dataGID + \"' Where id = '\" + dataId + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 600,
        "wires": [
            [
                "c545e5be5b0dd47c"
            ]
        ]
    },
    {
        "id": "99b240ed97662656",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update SensorData",
        "func": "dataId = msg.payload.id;\ndataGID = msg.payload.GID;\nmsg.topic = \n\"Update SensorData SET id = '\" + dataGID + \"' Where id = '\" + dataId + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 680,
        "wires": [
            [
                "c545e5be5b0dd47c"
            ]
        ]
    },
    {
        "id": "fe0c553aea180a6a",
        "type": "delay",
        "z": "5f45bc47afcd40d8",
        "name": "Delay",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 290,
        "y": 840,
        "wires": [
            [
                "9522ba943ea85b76"
            ]
        ]
    },
    {
        "id": "9522ba943ea85b76",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "ArchiveGrow",
        "func": "dataId = msg.payload.id;\ndataGID = msg.payload.GID;\nmsg.topic = \n\"Update Grows SET id = '\" + dataGID + \"' Where id = '\" + dataId + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 840,
        "wires": [
            [
                "c545e5be5b0dd47c",
                "8d98ef5967f0bfea"
            ]
        ]
    },
    {
        "id": "aa2b083b0d11f8ce",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Labs",
        "func": "dataId = msg.payload.id;\ndataGID = msg.payload.GID;\nmsg.topic = \n\"Update LabReport SET Id = '\" + dataGID + \"' Where Id = '\" + dataId + \"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 640,
        "wires": [
            [
                "c545e5be5b0dd47c"
            ]
        ]
    },
    {
        "id": "23863f1566e7ca52",
        "type": "inject",
        "z": "5f45bc47afcd40d8",
        "name": "Grow Day Counter",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1020,
        "wires": [
            [
                "3a4797e5d0b37ea8",
                "03c095d030cdfc40",
                "f55fdd1d3cc1d17a"
            ]
        ]
    },
    {
        "id": "6452355e413b889d",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Sec Check",
        "func": "\nvar auth = msg.payload[0].isDCManaged;\n\nif (auth == 1) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 980,
        "wires": [
            [
                "9ec1a9be9bf2476d",
                "7098659871d85c3a"
            ],
            []
        ]
    },
    {
        "id": "3a4797e5d0b37ea8",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Check Enclosure 1",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT isDCManaged FROM Grows WHERE Id = 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 980,
        "wires": [
            [
                "116b887692958b2f"
            ]
        ]
    },
    {
        "id": "03c095d030cdfc40",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Check Enclosure 2",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT isDCManaged FROM Grows WHERE Id = 2;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1020,
        "wires": [
            [
                "ae77cf11b7410297"
            ]
        ]
    },
    {
        "id": "f55fdd1d3cc1d17a",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Check Enclosure 3",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT isDCManaged FROM Grows WHERE Id = 3;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1060,
        "wires": [
            [
                "69c3d46dad019cd6"
            ]
        ]
    },
    {
        "id": "736afad170c5f741",
        "type": "comment",
        "z": "5f45bc47afcd40d8",
        "name": "DC Managed Grow Day Counter",
        "info": "",
        "x": 130,
        "y": 940,
        "wires": []
    },
    {
        "id": "116b887692958b2f",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 570,
        "y": 980,
        "wires": [
            [
                "6452355e413b889d"
            ]
        ]
    },
    {
        "id": "ae77cf11b7410297",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 570,
        "y": 1020,
        "wires": [
            [
                "08e1eea760e5a21d"
            ]
        ]
    },
    {
        "id": "69c3d46dad019cd6",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 570,
        "y": 1060,
        "wires": [
            [
                "7f0480988aa640ca"
            ]
        ]
    },
    {
        "id": "9ec1a9be9bf2476d",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Current Grow Day",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT GrowDay FROM Grows WHERE Id = 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 960,
        "wires": [
            [
                "a1643b37800c8a68"
            ]
        ]
    },
    {
        "id": "a1643b37800c8a68",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1130,
        "y": 960,
        "wires": [
            [
                "559d5fb1c6a98efc"
            ]
        ]
    },
    {
        "id": "559d5fb1c6a98efc",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Grows",
        "func": "dataGrowDay = msg.payload[0].GrowDay;\nvar GD = parseInt(dataGrowDay );\ndataGrowDay = (dataGrowDay + 1);\nmsg.topic = \n\"Update Grows SET GrowDay = '\" + dataGrowDay + \"' Where id = 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 960,
        "wires": [
            [
                "6c2ee2b853ee9700"
            ]
        ]
    },
    {
        "id": "6c2ee2b853ee9700",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1470,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "08e1eea760e5a21d",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Sec Check",
        "func": "\nvar auth = msg.payload[0].isDCManaged;\n\nif (auth == 1) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1040,
        "wires": [
            [
                "8e3dcf2db0eaa764",
                "7c6a5381ad953acf"
            ],
            []
        ]
    },
    {
        "id": "8e3dcf2db0eaa764",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Current Grow Day",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT GrowDay FROM Grows WHERE Id = 2;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1080,
        "wires": [
            [
                "b08bc9dadaea1eda"
            ]
        ]
    },
    {
        "id": "b08bc9dadaea1eda",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1130,
        "y": 1080,
        "wires": [
            [
                "61988c245a863772"
            ]
        ]
    },
    {
        "id": "61988c245a863772",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Grows",
        "func": "dataGrowDay = msg.payload[0].GrowDay;\nvar GD = parseInt(dataGrowDay );\ndataGrowDay = (dataGrowDay + 1);\nmsg.topic = \n\"Update Grows SET GrowDay = '\" + dataGrowDay + \"' Where id = 2;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1080,
        "wires": [
            [
                "c1a51aafe1665e2a"
            ]
        ]
    },
    {
        "id": "c1a51aafe1665e2a",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1650,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "7f0480988aa640ca",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Sec Check",
        "func": "\nvar auth = msg.payload[0].isDCManaged;\n\nif (auth == 1) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "32e88a60d9a99279",
                "f8460923ad524aef"
            ],
            []
        ]
    },
    {
        "id": "f8460923ad524aef",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Current Grow Day",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT GrowDay FROM Grows WHERE Id = 3;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1220,
        "wires": [
            [
                "6a86d53501e1eb4a"
            ]
        ]
    },
    {
        "id": "6a86d53501e1eb4a",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1130,
        "y": 1220,
        "wires": [
            [
                "50ea371e85710ad7"
            ]
        ]
    },
    {
        "id": "50ea371e85710ad7",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Grows",
        "func": "dataGrowDay = msg.payload[0].GrowDay;\nvar GD = parseInt(dataGrowDay );\ndataGrowDay = (dataGrowDay + 1);\nmsg.topic = \n\"Update Grows SET GrowDay = '\" + dataGrowDay + \"' Where id = 3;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1220,
        "wires": [
            [
                "cdc443ba0f9dbee3"
            ]
        ]
    },
    {
        "id": "cdc443ba0f9dbee3",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1650,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "eb3c64593206137e",
        "type": "ui_text",
        "z": "5f45bc47afcd40d8",
        "group": "3d49467068d0b75e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Veg Days",
        "label": "Veg Days",
        "format": "{{msg.payload[0].DaysInVeg}}",
        "layout": "row-center",
        "className": "",
        "x": 1340,
        "y": 200,
        "wires": []
    },
    {
        "id": "9a812cbc8d087ac1",
        "type": "ui_text",
        "z": "5f45bc47afcd40d8",
        "group": "3d49467068d0b75e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Experiment",
        "label": "Experiment",
        "format": "{{msg.payload[0].Experiment}}",
        "layout": "row-center",
        "className": "",
        "x": 1350,
        "y": 400,
        "wires": []
    },
    {
        "id": "3a7a14616c467f5a",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Day Type Selector",
        "func": "\nvar veg = msg.payload[0].inVeg;\n\nif (veg == 1) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 900,
        "wires": [
            [
                "b7c66caafc6d19b9"
            ],
            [
                "35567ab3aae793ad"
            ]
        ]
    },
    {
        "id": "7098659871d85c3a",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Veg/Flower Status",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT inVeg FROM Grows WHERE Id = 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 900,
        "wires": [
            [
                "7833518ae6e4856e"
            ]
        ]
    },
    {
        "id": "7833518ae6e4856e",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1130,
        "y": 900,
        "wires": [
            [
                "3a7a14616c467f5a"
            ]
        ]
    },
    {
        "id": "3b27ce91316b7baa",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Veg Count",
        "func": "dataVegDay = msg.payload[0].DaysInVeg;\ndataVegDay = (dataVegDay + 1);\nmsg.topic = \n\"Update Grows SET DaysinVeg = '\" + dataVegDay + \"' Where id = 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 880,
        "wires": [
            [
                "b349d8a09fbeeea9"
            ]
        ]
    },
    {
        "id": "b7c66caafc6d19b9",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Current VegDay",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT DaysInVeg FROM Grows WHERE Id = 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 880,
        "wires": [
            [
                "850b130988eaa1d7"
            ]
        ]
    },
    {
        "id": "35567ab3aae793ad",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Current Flower Day",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT DaysInFlower FROM Grows WHERE Id = 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 920,
        "wires": [
            [
                "ff0bf52b3ff9ff7a"
            ]
        ]
    },
    {
        "id": "850b130988eaa1d7",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1710,
        "y": 880,
        "wires": [
            [
                "3b27ce91316b7baa"
            ]
        ]
    },
    {
        "id": "ff0bf52b3ff9ff7a",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1730,
        "y": 920,
        "wires": [
            [
                "d45e6cc1dc39e3e5"
            ]
        ]
    },
    {
        "id": "d45e6cc1dc39e3e5",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Flower Count",
        "func": "dataFlowerDay = msg.payload[0].DaysInFlower;\ndataFlowerDay = (dataFlowerDay + 1);\nmsg.topic = \n\"Update Grows SET DaysinFlower = '\" + dataFlowerDay + \"' Where id = 1;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 920,
        "wires": [
            [
                "7fd2639576a52629"
            ]
        ]
    },
    {
        "id": "b349d8a09fbeeea9",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 2150,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "7fd2639576a52629",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 2150,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "0d1cfdc55a902afa",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Day Type Selector",
        "func": "\nvar veg = msg.payload[0].inVeg;\n\nif (veg == 1) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 1020,
        "wires": [
            [
                "5e402aaa9cd1bf3f"
            ],
            [
                "3a1f550450de0bf3"
            ]
        ]
    },
    {
        "id": "7c6a5381ad953acf",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Veg/Flower Status",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT inVeg FROM Grows WHERE Id = 2;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1020,
        "wires": [
            [
                "f0f9cf5d9f2c7134"
            ]
        ]
    },
    {
        "id": "f0f9cf5d9f2c7134",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1130,
        "y": 1020,
        "wires": [
            [
                "0d1cfdc55a902afa"
            ]
        ]
    },
    {
        "id": "dfb883123fe6004e",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Veg Count",
        "func": "dataVegDay = msg.payload[0].DaysInVeg;\ndataVegDay = (dataVegDay + 1);\nmsg.topic = \n\"Update Grows SET DaysinVeg = '\" + dataVegDay + \"' Where id = 2;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1930,
        "y": 1000,
        "wires": [
            [
                "59d9e61821a073ae"
            ]
        ]
    },
    {
        "id": "5e402aaa9cd1bf3f",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Current VegDay",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT DaysInVeg FROM Grows WHERE Id = 2;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1000,
        "wires": [
            [
                "69e9dbf9c7598114"
            ]
        ]
    },
    {
        "id": "3a1f550450de0bf3",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Current Flower Day",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT DaysInFlower FROM Grows WHERE Id = 2;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 1040,
        "wires": [
            [
                "d618191b317c8cec"
            ]
        ]
    },
    {
        "id": "69e9dbf9c7598114",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1710,
        "y": 1000,
        "wires": [
            [
                "dfb883123fe6004e"
            ]
        ]
    },
    {
        "id": "d618191b317c8cec",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1730,
        "y": 1040,
        "wires": [
            [
                "28fd5a022fc62495"
            ]
        ]
    },
    {
        "id": "28fd5a022fc62495",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Flower Count",
        "func": "dataFlowerDay = msg.payload[0].DaysInFlower;\ndataFlowerDay = (dataFlowerDay + 1);\nmsg.topic = \n\"Update Grows SET DaysinFlower = '\" + dataFlowerDay + \"' Where id = 2;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 1040,
        "wires": [
            [
                "88467811bfd17993"
            ]
        ]
    },
    {
        "id": "59d9e61821a073ae",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 2150,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "88467811bfd17993",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 2150,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "89ac7deb67f9015a",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Day Type Selector",
        "func": "\nvar veg = msg.payload[0].inVeg;\n\nif (veg == 1) {\n    return [msg,null];\n    \n}\nelse {\n    return [null,msg];\n}\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 1160,
        "wires": [
            [
                "3ce4da3aedc0e019"
            ],
            [
                "8f374e16e1aced46"
            ]
        ]
    },
    {
        "id": "32e88a60d9a99279",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Veg/Flower Status",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT inVeg FROM Grows WHERE Id = 3;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1160,
        "wires": [
            [
                "baebfcb4cfda2f73"
            ]
        ]
    },
    {
        "id": "baebfcb4cfda2f73",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1110,
        "y": 1160,
        "wires": [
            [
                "89ac7deb67f9015a"
            ]
        ]
    },
    {
        "id": "d8ae0e9b45a2315c",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Veg Count",
        "func": "dataVegDay = msg.payload[0].DaysInVeg;\ndataVegDay = (dataVegDay + 1);\nmsg.topic = \n\"Update Grows SET DaysinVeg = '\" + dataVegDay + \"' Where id = 3;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 1140,
        "wires": [
            [
                "54ccecc2213be5fc"
            ]
        ]
    },
    {
        "id": "3ce4da3aedc0e019",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Current VegDay",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT DaysInVeg FROM Grows WHERE Id = 3;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 1140,
        "wires": [
            [
                "defc96c9cc176457"
            ]
        ]
    },
    {
        "id": "8f374e16e1aced46",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Pull Current Flower Day",
        "func": "data = (msg.payload);\nvar m = {\n topic : \"SELECT DaysInFlower FROM Grows WHERE Id = 3;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 1180,
        "wires": [
            [
                "3988e9c49736eb6a"
            ]
        ]
    },
    {
        "id": "defc96c9cc176457",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1690,
        "y": 1140,
        "wires": [
            [
                "d8ae0e9b45a2315c"
            ]
        ]
    },
    {
        "id": "3988e9c49736eb6a",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 1710,
        "y": 1180,
        "wires": [
            [
                "9c2e8750c6f3144e"
            ]
        ]
    },
    {
        "id": "9c2e8750c6f3144e",
        "type": "function",
        "z": "5f45bc47afcd40d8",
        "name": "Update Flower Count",
        "func": "dataFlowerDay = msg.payload[0].DaysInFlower;\ndataFlowerDay = (dataFlowerDay + 1);\nmsg.topic = \n\"Update Grows SET DaysinFlower = '\" + dataFlowerDay + \"' Where id = 3;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 1180,
        "wires": [
            [
                "92bd82f436d77ae8"
            ]
        ]
    },
    {
        "id": "54ccecc2213be5fc",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 2130,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "92bd82f436d77ae8",
        "type": "mysql",
        "z": "5f45bc47afcd40d8",
        "mydb": "c5ee7d10.742bd",
        "name": "AutoBud DB",
        "x": 2130,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "3d49467068d0b75e",
        "type": "ui_group",
        "name": "View Grows",
        "tab": "13496b1778a0bfa4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c5ee7d10.742bd",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "autobud",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1cb06dcd467f26fc",
        "type": "ui_group",
        "name": "Grow Management",
        "tab": "13496b1778a0bfa4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "13496b1778a0bfa4",
        "type": "ui_tab",
        "name": "Grow Manager",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]