abdc/web/flows_web.json
[{"id":"e3fb0586.06af18","type":"tab","label":"Autobud","disabled":false,"info":""},{"id":"a1c59403.f234a8","type":"MySQLdatabase","name":"datagrow","host":"127.0.0.1","port":"3306","db":"datagrow","tz":""},{"id":"c5ee7d10.742bd","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"autobud","tz":"","charset":"UTF8"},{"id":"54b43b8f.6ec644","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"datagrow","tz":""},{"id":"7dee412e.b50cd","type":"ui_tab","name":"AutoBud","icon":"dashboard","disabled":false,"hidden":false},{"id":"97c692d7.0a354","type":"ui_group","name":"Current Status","tab":"7dee412e.b50cd","order":1,"disp":false,"width":"7","collapse":false},{"id":"c798f46d.40c208","type":"ui_group","name":"Grow Logs","tab":"","order":1,"disp":true,"width":"12","collapse":false},{"id":"b056706.8cdcd9","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"datagrow","tz":""},{"id":"a0c3bb4b.28abf8","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"datagrow","tz":""},{"id":"d5d76baf.dcf1c8","type":"ui_group","name":"Grow Info","tab":"7dee412e.b50cd","order":3,"disp":true,"width":"12","collapse":false},{"id":"8bbe3c0d.d02a1","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"AB","default":"#4B7930","baseColor":"#ffffff","baseFont":"Times New Roman,Times,serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#ffffff","edited":true},"page-titlebar-backgroundColor":{"value":"#787878","edited":true},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":true},"group-borderColor":{"value":"#000000","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ffffff","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"AutoBud DataCenter","hideToolbar":"true","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"89749fb7.87f01","type":"ui_group","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"ab397e95.29ebe","type":"ui_group","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"4e7edda4.417004","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"93bfc8f6.421128","type":"ui_group","name":"Grow Logs","tab":"7dee412e.b50cd","order":3,"disp":true,"width":"6","collapse":false},{"id":"3e3d7ed5.cee6ea","type":"ui_group","name":"User Logs","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"b99928be.a29788","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":150,"y":300,"wires":[["5678b738.997978","c69e1934.170088","e4ae6730.5f6628"]]},{"id":"31507ea1.06c162","type":"template","z":"e3fb0586.06af18","name":"Get Grows","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" \nSELECT id FROM Grows","output":"str","x":310,"y":80,"wires":[["c1a3d2d6.c9eb7"]]},{"id":"f415c700.19ae98","type":"ui_button","z":"e3fb0586.06af18","name":"Open Date","group":"97c692d7.0a354","order":2,"width":0,"height":0,"passthru":false,"label":"Grow Selector","tooltip":"Select avaiable grows","color":"","bgcolor":"#85C1E9","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":80,"wires":[["31507ea1.06c162","d58fd78d.43aed8"]]},{"id":"7edc699f.965298","type":"ui_dropdown","z":"e3fb0586.06af18","name":"","label":"Select Grow","tooltip":"","place":"","group":"97c692d7.0a354","order":3,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"msg.options","x":790,"y":40,"wires":[["c4876611.c38078","476baea6.16b61","2d421416.7369ec","1776808a.7b284f","3e7a2c46.2fb09c","9f6f2639.b4c1f8","aa60b541.5dc548","8cb700bb.72966","5cd3e9c8.dc40f8","9dfddfcd.22c84","40d17ec3.e8b3d","d0e40743.af2188"]]},{"id":"b29f6a70.fa63b8","type":"change","z":"e3fb0586.06af18","name":"change","rules":[{"t":"set","p":"options","pt":"msg","to":"$.payload.id","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["7edc699f.965298"]]},{"id":"c4876611.c38078","type":"function","z":"e3fb0586.06af18","name":"DailyLog","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT Date, GrowDay, Ip FROM DailyLog WHERE Id =  \" + \"'\" + data + \"'\" + \"ORDER BY Date DESC LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"x":1040,"y":80,"wires":[["b99928be.a29788"]]},{"id":"5678b738.997978","type":"ui_text","z":"e3fb0586.06af18","group":"97c692d7.0a354","order":5,"width":0,"height":0,"name":"Grow Day","label":"Grow Day","format":"{{msg.payload[0].GrowDay}}","layout":"row-center","x":320,"y":260,"wires":[]},{"id":"c69e1934.170088","type":"ui_text","z":"e3fb0586.06af18","group":"97c692d7.0a354","order":6,"width":0,"height":0,"name":"IP","label":"Device:","format":"http://{{msg.payload[0].Ip}}","layout":"row-center","x":330,"y":300,"wires":[]},{"id":"d9538293.91762","type":"comment","z":"e3fb0586.06af18","name":"Grow Selector","info":"","x":130,"y":40,"wires":[]},{"id":"8de680a9.bc2a6","type":"function","z":"e3fb0586.06af18","name":"Convert","func":"data = msg.payload[0].img;\nmsg.payload = data\nvar m = {\n topic : \"( + data + )\"     \n };\nreturn msg;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["f16ad3a9.9e22f"]]},{"id":"f16ad3a9.9e22f","type":"ui_template","z":"e3fb0586.06af18","group":"97c692d7.0a354","name":"Image","order":12,"width":"0","height":"0","format":"<div height=\"350\" style=\"height: 350px;\">\n<img src=data:image/jpeg;base64,{{msg.payload}} width=\"450\"><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":810,"y":260,"wires":[[]]},{"id":"e4ae6730.5f6628","type":"ui_text","z":"e3fb0586.06af18","group":"97c692d7.0a354","order":7,"width":0,"height":0,"name":"Date","label":"Date","format":"{{msg.payload[0].Date}}","layout":"row-center","x":330,"y":340,"wires":[]},{"id":"476baea6.16b61","type":"function","z":"e3fb0586.06af18","name":"Img","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT img FROM ImgDir WHERE id =  \" + \"'\" + data + \"'\" + \"ORDER BY Date DESC LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"x":1030,"y":140,"wires":[["634fc32e.c8540c"]]},{"id":"c1a3d2d6.c9eb7","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":490,"y":80,"wires":[["b29f6a70.fa63b8"]]},{"id":"634fc32e.c8540c","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":470,"y":260,"wires":[["8de680a9.bc2a6"]]},{"id":"714d0234.2a8e3c","type":"comment","z":"e3fb0586.06af18","name":"Current Info","info":"","x":130,"y":220,"wires":[]},{"id":"8779f76c.f8cc08","type":"comment","z":"e3fb0586.06af18","name":"Historical Data","info":"","x":140,"y":420,"wires":[]},{"id":"9dfddfcd.22c84","type":"function","z":"e3fb0586.06af18","name":"Historical Images","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT GrowDay FROM DailyLog WHERE id =  \" + \"'\" + data + \"'\" + \"ORDER BY Date DESC;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":660,"wires":[["8bb593a4.50908"]]},{"id":"e3ece135.e8dbe","type":"change","z":"e3fb0586.06af18","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"Moisture\", \"label\": \"Soil Moisture\" },\t    { \"field\": \"data2\", \"label\": \"Range\" }\t  ];\t  $xaxis := \"Time\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":500,"wires":[["fa918c68.022f2","2acb3850.700c18"]]},{"id":"fa918c68.022f2","type":"ui_chart","z":"e3fb0586.06af18","name":"Soil Moisture","group":"d5d76baf.dcf1c8","order":5,"width":0,"height":0,"label":"Soil Moisture","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"75","removeOlderPoints":"4000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":950,"y":500,"wires":[["98f1c076.dec17"]]},{"id":"3fd3b562.29482a","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":390,"y":500,"wires":[["e3ece135.e8dbe"]]},{"id":"2d421416.7369ec","type":"function","z":"e3fb0586.06af18","name":"Historical Moisture","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT Moisture, Time FROM SensorData WHERE id =  \" + \"'\" + data + \"'\" + \"ORDER BY Time DESC;\"     \n };\nreturn m;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":500,"wires":[["3fd3b562.29482a"]]},{"id":"8bb593a4.50908","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":330,"y":660,"wires":[["c0cd94fe.7e29b8"]]},{"id":"c0cd94fe.7e29b8","type":"change","z":"e3fb0586.06af18","name":"change","rules":[{"t":"set","p":"options","pt":"msg","to":"$.payload.GrowDay","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":660,"wires":[["aa8b7a23.e3f748"]]},{"id":"aa8b7a23.e3f748","type":"ui_dropdown","z":"e3fb0586.06af18","name":"Day","label":"Select Grow Day","tooltip":"","place":"","group":"d5d76baf.dcf1c8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"msg.options","x":650,"y":660,"wires":[["3d628fa.5cbc97"]]},{"id":"31bae35f.b5f3ac","type":"moment","z":"e3fb0586.06af18","name":"Date Converter","topic":"Date","input":"payload","inputType":"msg","inTz":"Europe/Jersey","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en_GB","output":"payload","outputType":"msg","outTz":"Europe/Jersey","x":380,"y":720,"wires":[["d88c7a3e.1833d8"]]},{"id":"3d628fa.5cbc97","type":"function","z":"e3fb0586.06af18","name":"Pull Date","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT Date FROM DailyLog WHERE GrowDay =  \" + \"'\" + data + \"'\" + \" ORDER BY DATE DESC LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":660,"wires":[["280b28aa.4dfa28"]]},{"id":"280b28aa.4dfa28","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":990,"y":660,"wires":[["accfe8ac.069308"]]},{"id":"accfe8ac.069308","type":"function","z":"e3fb0586.06af18","name":"Convert","func":"data = msg.payload[0].Date;\nmsg.payload = data\nvar m = {\n topic : \"( + data + )\"     \n };\nreturn msg;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":720,"wires":[["31bae35f.b5f3ac"]]},{"id":"d88c7a3e.1833d8","type":"function","z":"e3fb0586.06af18","name":"Pull Date","func":"data = (msg.payload);\nvar work_GlobalTemp = global.get(\"Temp\");\ngrow = work_GlobalTemp.b;\nvar m = {\n topic : \"SELECT img FROM ImgDir WHERE Date LIKE  \" + \"'\" + data + \"%'\" + \" and id = \" + grow + \" LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":720,"wires":[["eef1e50b.42f648"]]},{"id":"eef1e50b.42f648","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":750,"y":720,"wires":[["f227e07.ed1d42"]]},{"id":"f227e07.ed1d42","type":"function","z":"e3fb0586.06af18","name":"Convert","func":"data = msg.payload[0].img;\nmsg.payload = data\nvar m = {\n topic : \"( + data + )\"     \n };\nreturn msg;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"x":920,"y":720,"wires":[["c1859c2f.35ea7"]]},{"id":"c1859c2f.35ea7","type":"ui_template","z":"e3fb0586.06af18","group":"d5d76baf.dcf1c8","name":"Image","order":2,"width":"0","height":"0","format":"<div height=\"350\" style=\"height: 350px;\">\n<img src=data:image/jpeg;base64,{{msg.payload}} width=\"450\"><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1090,"y":720,"wires":[[]]},{"id":"6fc5cc0a.d4b6c4","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":370,"y":780,"wires":[["83deef02.8639"]]},{"id":"1776808a.7b284f","type":"function","z":"e3fb0586.06af18","name":"Water Events","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT WaterEvents.Amount, DailyLog.GrowDay FROM WaterEvents  JOIN DailyLog ON WaterEvents.Time = DailyLog.Date AND WaterEvents.id = DailyLog.Id WHERE WaterEvents.id =  \" + \"'\" + data + \"'\" + \" and WaterEvents.`Event` = 3  order by DailyLog.GrowDay DESC;\"     \n };\nreturn m;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":110,"y":780,"wires":[["6fc5cc0a.d4b6c4"]]},{"id":"83deef02.8639","type":"ui_table","z":"e3fb0586.06af18","group":"d5d76baf.dcf1c8","name":"Water Events","order":4,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":700,"y":800,"wires":[]},{"id":"e6879977.1a553","type":"ui_text_input","z":"e3fb0586.06af18","name":"Enter Log Event","label":"Enter Log Event","tooltip":"","group":"93bfc8f6.421128","order":5,"width":"0","height":"0","passthru":false,"mode":"text","delay":"0","topic":"","x":340,"y":920,"wires":[["98e50fe8.4480f8"]]},{"id":"98e50fe8.4480f8","type":"function","z":"e3fb0586.06af18","name":"Log Update","func":"var work_GlobalTemp = global.get(\"Temp\");\ngrow = work_GlobalTemp.b;\ndata = (msg.payload);\nvar m = {\n topic : \"INSERT INTO GrowLogs (id, Time, event) VALUES (\" + grow + \", NOW(), '\" + data + \"');\"     \n };\nreturn m;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":920,"wires":[["ee31f045.6b7e6"]]},{"id":"3e7a2c46.2fb09c","type":"ui_button","z":"e3fb0586.06af18","name":"","group":"93bfc8f6.421128","order":12,"width":0,"height":0,"passthru":false,"label":"Enter Log Event","tooltip":"","color":"","bgcolor":"#85C1E9","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":920,"wires":[["e6879977.1a553"]]},{"id":"92118b77.424a88","type":"comment","z":"e3fb0586.06af18","name":"Logging","info":"","x":120,"y":860,"wires":[]},{"id":"ee31f045.6b7e6","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":510,"y":980,"wires":[["6646395e.c282f8"]]},{"id":"6646395e.c282f8","type":"ui_table","z":"e3fb0586.06af18","group":"93bfc8f6.421128","name":"Grow Logs","order":3,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":730,"y":980,"wires":[]},{"id":"b6317e5d.82e6e","type":"function","z":"e3fb0586.06af18","name":"Convert","func":"data = msg.payload[0].img;\nmsg.payload = data\nvar m = {\n topic : \"( + data + )\"     \n };\nreturn msg;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["92387f1e.a4058"]]},{"id":"92387f1e.a4058","type":"ui_template","z":"e3fb0586.06af18","group":"97c692d7.0a354","name":"ABImage","order":1,"width":"0","height":"0","format":"<div height=\"60\" style=\"height: 60px;\">\n<img src=data:image/jpeg;base64,{{msg.payload}} width=\"320\"><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":800,"y":120,"wires":[[]]},{"id":"d58fd78d.43aed8","type":"template","z":"e3fb0586.06af18","name":"Get Img","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":" \nSELECT img FROM UIImgs WHERE ImgID = 1","output":"str","x":300,"y":120,"wires":[["69b51bb7.a65ab4"]]},{"id":"681814a4.de80dc","type":"function","z":"e3fb0586.06af18","name":"Img","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT img FROM UIImgs WHERE ImgID = 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":200,"wires":[[]]},{"id":"69b51bb7.a65ab4","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":490,"y":120,"wires":[["b6317e5d.82e6e"]]},{"id":"a269646c.8db9c8","type":"ui_text","z":"e3fb0586.06af18","group":"d5d76baf.dcf1c8","order":3,"width":0,"height":0,"name":"Water Events","label":"Water Events","format":"","layout":"row-center","x":870,"y":800,"wires":[]},{"id":"9f6f2639.b4c1f8","type":"function","z":"e3fb0586.06af18","name":"Logs","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT time, event FROM GrowLogs WHERE id =  \" + \"'\" + data + \"'\" + \" ORDER BY time DESC;\"     \n };\nreturn m;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":980,"wires":[["ee31f045.6b7e6"]]},{"id":"aa60b541.5dc548","type":"function","z":"e3fb0586.06af18","name":"DailyLog","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT Genetics, Soil FROM Grows WHERE Id =  \" + \"'\" + data + \"'\" + \";\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":40,"wires":[["ed6f07e5.e15158"]]},{"id":"ed6f07e5.e15158","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":150,"y":340,"wires":[["7cef8b7b.8ffb44","68866df2.ed2fb4"]]},{"id":"7cef8b7b.8ffb44","type":"ui_text","z":"e3fb0586.06af18","group":"97c692d7.0a354","order":8,"width":0,"height":0,"name":"Genetics","label":"Genetics","format":"{{msg.payload[0].Genetics}}","layout":"row-center","x":340,"y":380,"wires":[]},{"id":"68866df2.ed2fb4","type":"ui_text","z":"e3fb0586.06af18","group":"97c692d7.0a354","order":9,"width":0,"height":0,"name":"Soil","label":"Soil","format":"{{msg.payload[0].Soil}}","layout":"row-center","x":330,"y":420,"wires":[]},{"id":"ac720f4c.ac58f","type":"ui_text","z":"e3fb0586.06af18","group":"97c692d7.0a354","order":11,"width":0,"height":0,"name":"Latest Image","label":"Latest Image","format":"","layout":"row-center","x":470,"y":340,"wires":[]},{"id":"227640af.05ab6","type":"function","z":"e3fb0586.06af18","name":"Convert","func":"data = msg.payload[0].Date;\nmsg.payload = data\nvar m = {\n topic : \"( + data + )\"     \n };\nreturn msg;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":460,"wires":[[]]},{"id":"8cb700bb.72966","type":"function","z":"e3fb0586.06af18","name":"Lighting","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT COUNT(*) AS light FROM Logs WHERE id =  \" + \"'\" + data + \"'\" + \"AND EVENT = 1 AND Time BETWEEN DATE(NOW() - INTERVAL 2 DAY) AND DATE(NOW() - INTERVAL 1 DAY);\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":240,"wires":[["128de58b.8ade5a"]]},{"id":"128de58b.8ade5a","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":630,"y":320,"wires":[["43459a7c.384834"]]},{"id":"43459a7c.384834","type":"ui_text","z":"e3fb0586.06af18","group":"97c692d7.0a354","order":10,"width":0,"height":0,"name":"Light Hours","label":"Light Hours","format":"{{msg.payload[0].light}}","layout":"row-center","x":870,"y":320,"wires":[]},{"id":"5cd3e9c8.dc40f8","type":"function","z":"e3fb0586.06af18","name":"Historical Temp","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT Temp, Time FROM SensorData WHERE id =  \" + \"'\" + data + \"'\" + \"ORDER BY Time DESC;\"     \n };\nreturn m;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":540,"wires":[["1999999d.2295c6"]]},{"id":"1999999d.2295c6","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":370,"y":540,"wires":[["495801c4.78fe9"]]},{"id":"495801c4.78fe9","type":"change","z":"e3fb0586.06af18","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"Temp\", \"label\": \"Enclosure Tempature\" },\t    { \"field\": \"data2\", \"label\": \"Range\" }\t  ];\t  $xaxis := \"Time\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":540,"wires":[["2e88a963.079586"]]},{"id":"2e88a963.079586","type":"ui_chart","z":"e3fb0586.06af18","name":"Enclosure Tempature","group":"d5d76baf.dcf1c8","order":5,"width":0,"height":0,"label":"Enclosure Tempature","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"60","ymax":"95","removeOlder":"75","removeOlderPoints":"4000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":980,"y":540,"wires":[[]]},{"id":"98f1c076.dec17","type":"debug","z":"e3fb0586.06af18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":360,"wires":[]},{"id":"40d17ec3.e8b3d","type":"function","z":"e3fb0586.06af18","name":"Historical Moisture","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT Hum, Time FROM SensorData WHERE id =  \" + \"'\" + data + \"'\" + \"ORDER BY Time DESC;\"     \n };\nreturn m;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":580,"wires":[["708d6ed3.6dab8"]]},{"id":"708d6ed3.6dab8","type":"mysql","z":"e3fb0586.06af18","mydb":"c5ee7d10.742bd","name":"AutoBud DB","x":350,"y":580,"wires":[["fe22745e.c1a558"]]},{"id":"fe22745e.c1a558","type":"change","z":"e3fb0586.06af18","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"Hum\", \"label\": \"Enclosure Hum\" },\t    { \"field\": \"data2\", \"label\": \"Range\" }\t  ];\t  $xaxis := \"Time\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":580,"wires":[["9ab26b5a.1c2928"]]},{"id":"9ab26b5a.1c2928","type":"ui_chart","z":"e3fb0586.06af18","name":"Enclosure Humidity","group":"d5d76baf.dcf1c8","order":5,"width":0,"height":0,"label":"Enclosure Humidity","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"90","removeOlder":"75","removeOlderPoints":"4000","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":970,"y":580,"wires":[[]]},{"id":"d0e40743.af2188","type":"function","z":"e3fb0586.06af18","name":"","func":"data = (msg.payload);\nvar GlobalTemp = {};\nGlobalTemp.a = 10;\nGlobalTemp.b = data;\nGlobalTemp.c = 22;\nglobal.set(\"Temp\",GlobalTemp);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":140,"wires":[[]]},{"id":"2acb3850.700c18","type":"function","z":"e3fb0586.06af18","name":"","func":"var work_GlobalTemp = global.get(\"Temp\");\n\nmsg.payload = work_GlobalTemp.b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":220,"wires":[[]]},{"id":"87ca6d70.898e6","type":"comment","z":"e3fb0586.06af18","name":"These functions are hacked and need fixed","info":"","x":1260,"y":180,"wires":[]},{"id":"d6d019ba.e786f8","type":"function","z":"e3fb0586.06af18","name":"Pull Date","func":"data = (msg.payload);\nvar m = {\n topic : \"SELECT img FROM ImgDir WHERE Date LIKE  \" + \"'\" + data + \"%'\" + \" LIMIT 1;\"     \n };\nreturn m;\n//INSERT INTO `Perams` (`notify')               VALUES (\"+email\",\"+ temp +\")\"","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":760,"wires":[[]]}]